@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 10px;
}

:root {
    --background-color: #ce1212;
}

.logo {
    text-decoration: none;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: black;
}

.logo span {
    color: red;
}

.navflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.main-menu {
    display: flex;
}


.main-menu li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 23px;
    bottom: -5px;
    background-color: var(--background-color);
    transition: all .5s ease;
}

.main-menu li a:hover::after {
    width: 50%;
}

.main-menu li a {
    text-decoration: none;
    padding: 0 25px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #7f7f90;
    padding-bottom: 6px;
    transition: all .5s ease;
    position: relative;
}

.main-menu li {
    list-style: none;
}

.head-btn {
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 20px;
    background-color: var(--background-color);
    transition: all .5s ease;

}

.head-btn:hover {
    background-color: #ce1212d2;

}

#hero-section {
    padding: 80px 0;
    background-color: #c4c4cb37;

}

.hero-main {
    display: flex;
    justify-content: space-evenly;
}

.left-main {
    width: 65%;
    margin-top: 60px;

}

.left-main h1 {
    font-family: "Amatic SC", sans-serif;
    font-size: 64px;
    margin: 0;
}

.hero-para {
    font-size: 20px;
    color: #444444;
    margin-top: 10px;
    line-height: 30px;
}

.hero-group {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.hero-btn2 {
    color: white;
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 25px;
    background-color: var(--background-color);
    transition: all .5s ease;


}

.hero-btn2:hover {
    background-color: #ce1212d2;
}

.hero-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 10px;
    transition: all .5s ease;
}

.hero-icon:hover,
.hero-icon:hover .hero-span {
    color: var(--background-color);


}

.hero-icon i {
    font-size: 35px;
    color: red;

    margin-right: 5px;
}

.hero-span {
    color: black;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    transition: all .5s ease;
}

.right-main {
    width: 35%;

}

.hero-img {
    width: 100%;

}

#about-section {
    padding: 60px 0;
}

.about-heading {
    font-size: 14px;
    color: #44444475;
    font-weight: 400;

}

.about-heading,
.about-para {
    text-align: center;

}

.about-para {
    text-transform: uppercase;
    font-family: "Amatic SC", sans-serif;
    font-size: 48px;
    margin: 15px 0;
    padding-bottom: 45px;
}

.about-para span {
    color: var(--background-color);
}

.about-parent {
    display: flex;



}

.left-about {
    width: 60%;

}

.left-about img {
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}

.about-left-child {
    border: 5px solid gray;
    text-align: center;
    padding: 22px;

}

.about-left-child h3,
.about-left-child p {
    margin: 3px;
}

.about-left-child h3 {
    font-size: 24px;
}

.about-left-child p {
    font-size: 28px;
    font-weight: 600;
    color: var(--background-color);
}

.right-about {
    width: 40%;
    padding-left: 48px;
}

.right-about img {
    width: 100%;
}

.first-right-para {
    font-style: italic;
    color: #4444447d;
}

.about-list {
    list-style: none;
    padding-left: 0;
}

.about-list li {
    display: flex;
    padding: 10px 0;

}

.about-list li i {
    font-size: 22px;
    color: var(--background-color);
    padding-right: 7px;
}

.about-list li p {
    margin: 0;
}

.second-right-para {
    margin-bottom: 15px;
}

#cards-section {
    background-color: #6d6c6c16;
    padding: 60px 0;
}

.flex-cards {
    display: flex;
    gap: 20px;
}

.red-card {
    background-color: var(--background-color);
    padding: 25px;
    color: white;
    flex: 2;

}

.red-card h3 {
    font-size: 34px;
    margin: 0;

}

.red-card p {
    margin-bottom: 50px;
}

.bg-btn {
    text-align: center;

}

.card-btn {
    color: white;
    text-decoration: none;
    background-color: #d958585f;
    padding: 10px 35px;
    border-radius: 20px;
    transition: all .5s ease;
}

.card-btn:hover {
    background-color: white;
    color: var(--background-color);
}

.common-card {
    background-color: white;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    flex: 1;

}

.common-card:hover .clip-icon,
.common-card:hover .diamond-icon,
.common-card:hover .inbox-icon {
    background-color: var(--background-color);
    color: white;
}
.clip-icon,
.diamond-icon,
.inbox-icon {
    background-color: #c8232312;
    color: var(--background-color);
    width: 70px;
    height: 70px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    transition: all .5s ease;

}